/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

.content {
    display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.header{
    display:flex;
	justify-content: space-between;
}
body{
	margin: 0px 0px 0px 0px;
	min-width: 1170px;
	background-color: #F5F5F5;
}

@media screen and (max-width: 500px) {
    .container{
        width: 80%;
    }          
}
.container{
	margin: 0px auto;
	display: flex;
    justify-content: space-between;
    max-width:1200px;
	margin: 0px auto;
}
.header__buttons button{
    margin:0px 19px 0px 19px;
    background: #D9D9D9;
    border-radius: 10px;
    width: 150px;
    height: 41px;
    font-family: 'Montserrat';
    font-style: normal;
}
.header__buttons{
    align-items: center;
    margin:auto;
	flex:1 1 auto;

}
.header img{
	flex:0 0 auto;
}
hr {
	width:70%;
	height:1px;
	background:black;
	border:none;
	align-self:center;
}

.news{
	display:flex;
	flex-direction: column;
}
.news__block img{
	width: 229px;
	height: 220px;
}
.news__block{
	display:flex;
	margin:80px 0px 80px 0px;
}
.news__block__rightpart__title{
	text-align: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 17px;
	margin:0px 0px 15px 0px;
}
.news__block__rightpart__text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;

}
.news__block__rightpart{
	margin:0px 0px 0px 20px;
}
.registration{
	display:flex;
}


  input {
	font-size: 16px;
	padding: 10px;
	display: block;
	width: 300px;
	border: none;
	border-bottom: 1px solid #ccc;
  }
  input:focus {
	outline: none;
  }
  .group label {
	color: #999;
	font-size: 18px;
	position: absolute;
	pointer-events: none;
	left: 10px;
	top: 15px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
	font-family: 'Montserrat';
	font-style: normal;
  }
  
  /* active state */
label{
	top: -15px;
	font-size: 14px;
	color: #5264AE;
}

 
  

 .py label{
	display:block;
	line-height:40px;
	font-family: 'Montserrat';
	font-style: normal;
  }
  .registration input{
	margin:20px 0px 20px 0px;
  }
 label{
	margin:10px 0px -10px 0px;
	font-family: 'Montserrat';
	font-style: normal;
  }
  .date{
	margin:15px 0px 0px 0px;
  }
  fieldset input{
	width: 20px;
	display:inline;
  }
  fieldset {
	max-width: 320px;
  }
  fieldset label{
	font-family: 'Montserrat';
	font-size: small;

  }

  .child__age{
	top: -15px;
	font-size: 14px;
	color: #5264AE;
}
  